

<img src="~/images/pet.jpg">
<h2>@ViewBag.reaction</h2>
<h2>Fullness: @ViewBag.fullness Happiness: @ViewBag.happy Meals: @ViewBag.meals Energy: @ViewBag.energy</h2>
<div>
<div style="display:inline-block;">
    <a href="Feed" style="color:black"><button>Feed</button></a>
    <img src="~/images/food.png">
</div>
<div style="display:inline-block;">
    <a href="Play" style="color:black"><button>Play</button></a>
    <img src="~/images/play.jpg">
</div>
<div style="display:inline-block;">
    <a href="Work" style="color:black"><button>Work</button></a>
    <img src="~/images/work.jpg">
</div>
<div style="display:inline-block;">
    <a href="Sleep" style="color:black"><button>Sleep</button></a>
    <img src="~/images/sleep.jpg">
</div>
</div>